{%extends "ex01/base.html" %}
{% load static %}

{% block page_title %}    
    <title>Ex01: Template engine.</title>
{% endblock %}  

{% block htmlstyle %}
<link href ="{% static 'ex01/style2.css' %}" rel = "stylesheet">  
{% endblock htmlstyle %}

{% block content %}
    <h1>Templates</h1>
    <p>Being a web framework, Django needs a convenient way to generate HTML dynamically. The most common approach relies on templates. A template contains the static parts of the desired HTML output as well as some special syntax describing how dynamic content will be inserted. For a hands-on example of creating HTML pages with templates, see Tutorial 3.

        A Django project can be configured with one or several template engines (or even zero if you don’t use templates). Django ships built-in backends for its own template system, creatively called the Django template language (DTL), and for the popular alternative Jinja2. Backends for other template languages may be available from third-parties.
        
        Django defines a standard API for loading and rendering templates regardless of the backend. Loading consists of finding the template for a given identifier and preprocessing it, usually compiling it to an in-memory representation. Rendering means interpolating the template with context data and returning the resulting string.
        
        The Django template language is Django’s own template system. Until Django 1.8 it was the only built-in option available. It’s a good template library even though it’s fairly opinionated and sports a few idiosyncrasies. If you don’t have a pressing reason to choose another backend, you should use the DTL, especially if you’re writing a pluggable application and you intend to distribute templates. Django’s contrib apps that include templates, like django.contrib.admin, use the DTL.
        
        For historical reasons, both the generic support for template engines and the implementation of the Django template language live in the django.template namespace.
        </p>
{% endblock %}